* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felix-mittermeier-956999.jpg&fm=jpg');
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: rgb(78, 48, 1);
    text-align:justify;
    margin-bottom: 30px;
 }

div {
    margin-bottom: 15px;
 }

 p{
    margin-top: 10px;
 }

.container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #e5e58a; 
}

.form-container {
    flex: 1;
    padding: 20px;
}

.signup-form {
    max-width: 600px;
    margin: 0 auto;
    text-align:justify;
}

.signup-form h1 {
    margin-bottom: 20px;
    color: #161617;
}

.form-group {
    margin-bottom: 15px;
    text-align:justify;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

